body {
  background: linear-gradient(to bottom right,#033e80, #018b07);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

  @font-face {
    font-family: Cheddar;
    src: url(fonts/Cheddar.ttf);
}


  #topbox {
    text-align: center;
    width: 100%;
    margin: 15px;
    color: #92d465;
    font-family: Cheddar, cursive;
    font-size: 28pt ;
    padding-top: 8px;
  }

  #announce {
  color: #92d465;
  font-family: Cheddar, cursive;
  font-size: 120%;
  margin-bottom: 100px;
  }

  #radius {
    background: linear-gradient(to right, #818d92 , #e6e6e6);
    color: white;
    width: 40px;
    text-align: center;
  }

label{
  padding-top: 8px;
}
#circle {
  background-image: url("images/globe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  transition: transform 6s;
}

#circle:hover {
  transform: rotate(1080deg) scale(.5);
}

#leaves {
  background-image: url("images/leaves.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  height: 600px;
  }

#happy {
  font-size: 200%;
  font-family: Cheddar, cursive;
  color: #92d465;
  float: bottom;
  text-align: center;
  width: 100%;
  margin-top:40px;
}

button {
    border-radius: 12px;
    padding: 5px;
    background-color: #1b62a4;
    color: #95f9bd;
    border: 2px solid #075928; /* Green */
}
